include processors/*.py

include processors/assets/*.js
include processors/assets/*.css
include processors/assets/*.html

include processors/tests/*.json
include processors/tests/*.yml
include processors/tests/*.txt

include requirements.txt

recursive-include docs *.rst *.md conf.py *.css Makefile

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
