.displacy-tag[data-tag^="NN"]{
  color: green;
  font-weight: bold;
}

.displacy-tag[data-tag^="VB"]{
  color: blue;
  font-weight: bold;
}

.displacy-entity:not([data-tag="O"]){
  color: green;
  font-weight: bold;
}

.displacy-arrow[data-label^="nsubj"], [data-label^="dobj"], [data-label^="prep_of"], [data-label^="nn"]{
  color: green;
  font-weight: bold;
}
